<div class="content__container">
  <div class="content">

    <div class="logout">
      <form action="/logout" method="GET">
        <button>LOGOUT</button>
      </form>
    </div>

    <div class="new">
      <form action="/gallery/new" method="GET">
        <button>Add</button>
      </form>
    </div>

    <h1>A Good Boy</h1>
    <div class="pictures">
      {{#each picture}}
      <div>
        <a href="/gallery/{{id}}">
          <img src={{url}} alt="#">
        </a>
      </div>
      {{/each}}
    </div>


  </div>
</div>