<div class="content__container2">
  <div class="content">

    <h1>Login</h1>
    <form action="/login" method="POST">
      <label for="username">_username:</label><br />
      <input type="text" name="username" />
      <br /><br />
      <label for="password">_password:</label><br />
      <input type="password" name="password" />

      <br /><br />

      <button>Login</button>
    </form>


    <form action="/" method="GET">
      <button id="back__button"> &lt&lt </button>
    </form>


  </div>
</div>