<div class="content__container4">
  <h1>LOGOUT</h1>


  <div class="contents">

    <form action="/login" method="GET">
      <button>Login</button>
    </form>

    <form action="/" method="GET">
      <button>MAIN</button>
    </form>

    <form action="/register" method="GET">
      <button>REGISTER</button>
    </form>

  </div>



</div>