<h1>Register</h1>
<form action="/register" method="POST">
  <label for="username">_username:</label><br />
  <input type="text" name="username" />

  <br /><br />

  <label for="password">_password:</label><br />
  <input type="password" name="password" />

  <br /><br />

  <button>Submit</button>
</form>